<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!--Azure Storage Credentials-->
    <add key="BlobStorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=uneecopswebappcdn1;AccountKey=G9RUE0XeRo76SAXKmWhPg40dAX/d3V2DsYNN7DI/drhwttQ+sRMpC9BrWyN5MRmAJRlYfVMNS16X9hdsQw+vOA==" />
    <add key="BlobContainer" value="webjoblog" />
    <!--End Azure Storage Credentials-->
  </appSettings>
   
</configuration>